<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  href="css/help.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/mainpage">BiggerHomeText</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/mainpage">Home</a></li>
            <li><a href="/recipeList">Index</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron">
    <h1 class="display-4">Big text on home page</h1>
    <p class="lead">  This text is talking about how cool my page is</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </p>
</div>

</body>
</html>
