<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"  href="css/help.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/mainpage">BiggerHomeText</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/mainpage">Home</a></li>
            <li class="active"><a href="/recipeList">Index</a></li>
        </ul>
    </div>
</nav>

<a href="/GolabJamun">Golab Jamun</a>
<a href="/GolabJamun"><img src="../static/Images/images/images/images/1200px-Flag_of_India.svg.png" height="800" width="1200"/> </a>
<a href="/injera">Injera</a>
<a href="/injera"><img src="../static/Images/images/images/images/720px-Flag_of_Ethiopia.svg.png" height="360" width="720"/></a>
<a href="/JerkChicken">Jerk Chicken</a>
<a href="/JerkChicken"><img src="../static/Images/images/images/images/600px-Flag_of_Jamaica.svg.png" height="300" width="600"/></a>
</body>
</html>